<!--NAV ADMINISTRADOR LOGUEADO -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard_server/">Servidores</a>
        <a class="navbar-brand" href="/dashboard_admin/">Administradores</a>
        <a class="navbar-brand" href="/registro_server/">Registrar Servidor</a>
        <a class="navbar-brand" href="/registro/">Registrar Administrador</a>
        <a class="navbar-brand" href="/asociar-servidor/">Asociar</a>
        <a class="navbar-brand" href="/logout_admin/">Cerrar Sesion</a>
      </div>
    </nav>
