{% extends 'baseAdmin.html' %}

{% block titulo %}Servidor{% endblock %}

{%block scripts %}

{% endblock %}

{% block encabezado %}Dashboard Servidores{% endblock %}

{% block nav %}{% include 'nav_aut.html' %}{% endblock %}

{% block contenido %}

<div class="d-grid">
    <a class="btn btn-primary btn-block" href="/registro_server/" >Registrar Servidor</a>
</div>

<div class="card card-body">
    <center><table class="table table-sm table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Direccion IP</th>
            <th>Nombre del Servidor</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        {% for server in Servidores %}
        <tr>
            <td>{{server.id}}</td>
            <td>{{server.ip}}</td>
            <td>{{server.server_name}}</td>
            <td><a class="btn btn-info" href="{% url 'editarServer' server.id %}">Actualizar</a></td>
            <td><a class="btn btn-danger" href="{% url 'eliminarServer' server.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table></center>
</div>

{% endblock %}
