{% extends 'baseAdmin.html' %}

{% block titulo %}Administrador{% endblock %}

{%block scripts %}

{% endblock %}

{% block encabezado %}PAGINA DE ADMINISTRACION{% endblock %}

{% block contenido %}

{% if errores %}
<div class="text-danger">
  <ul>
    {% for error in errores %}
       <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <!--<a class="navbar-brand" href="/registro/">Agregar un administrador</a>-->
        <a class="navbar-brand" href="/autenticacion/">Pagina Principal</a>
        <a class="navbar-brand" href="/logout/">Cerrar Sesion</a>
      </div>
    </nav>


{% csrf_token %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Ingreso para administrador</h5>
		    <h5 class="text-center">Ingresa tus credenciales</h5>
                    <form class="form-login" action="/loginAdmin/" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" name="nombre" type="text" placeholder="Nombre" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" name="password" type="password" placeholder="Contraseña" required>
                        </div>
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>


{% endblock %}
