{% extends 'base.html' %}

{% block titulo %} Lista de Servidores {% endblock %}
{% block encabezado %}Monitoreo de servidores{% endblock %}


{% block scripts %}
<script src="/static/js/chatAjax.js"></script>
{% endblock %}


{% block contenido %}
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Admin</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>SHELL</th>
        </tr>
    </thead>
    <tbody id="datos"></tbody>
  </table>
</div>
{% endblock %}
