{% extends 'baseAdmin.html' %}
{% block titulo %}Registro{% endblock %}

{%block scripts %}
{% endblock %}

{% block encabezado %}Registro de Servidores{% endblock %}
{% block nav %}{% include 'nav_aut.html' %}{% endblock %}

{% block contenido %}
{% if errores %}

<div class="text-danger">
  <ul>
    {% for error in errores %}
       <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}


  <div class="container">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
          {% csrf_token %}
        <form id="formulario" action="/registro_server/" method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label for="direccion_ip" class="form-label">Direccion IP</label>
          <input type="text" class="form-control" name="ip" id="ip" placeholder="Ingresa la direccion IP" required>
        </div>

        <div class="mb-3">
          <label for="nombre_servidor" class="form-label">Nombre del servidor</label>
          <input type="text" class="form-control" name="server_name" id="server_name" placeholder="Ingresa el nombre del server" required>
        </div>
          
          <center><div>
              <a class="btn btn-warning" href="/dashboard_server/">Regresar</a>
              <button type="submit" class="btn btn-primary">Registrar</button>
          </div></center>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
