{% extends 'baseAuth.html' %}
{% block titulo %}Registro{% endblock %}

{%block scripts %}
{% endblock %}

{% block encabezado %}Registro de Servidores{% endblock %}

{% block contenido %}
{% if errores %}

<div class="text-danger">
  <ul>
    {% for error in errores %}
       <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}


  <div class="container">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
          {% csrf_token %}
        <form id="formulario" action="/registro/" method="POST">
        {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa tu nombre"  required>
          </div>

          <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingresa tu email" required>
          </div>
          
          <div class="mb-3">
            <label for="numero" class="form-label">ID telegram</label>
            <input type="tel" class="form-control" name="id_telegram"  id="id_telegram" placeholder="Ingresa tu numero de telegram" required>
          </div>
          
          <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña" required>
          </div>
          
          <div class="mb-3">
            <label for="confirmar-contrasena" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" name="contraseña2" id="contraseña2" placeholder="Repite tu contraseña" required>
          </div>

         <div class="mb-3">
            <label for="confirmar-contrasena" class="form-label">Server IP</label>
            <input type="text" class="form-control" name="ip_server" id="ip_server" placeholder="Repite tu contraseña" required>
          </div>
                    
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
